# Created by .ignore support plugin (hsz.mobi)
### Clojure template
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/

### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/.gitignore
.idea/ClojureProjectResolveSettings.xml
.idea/inspectionProfiles/
.idea/misc.xml
target/
/backups/
!/.rebel_readline_history
.lein-env
.rebel_readline_history
deps-tree.txt
doo-index.html
exported-pages/
figwheel_server.log
node_modules/
misunderstood_node_modules/
notes/
package-lock.json
push-to-bitbucket.sh
resources/old_public/
resources/private/md/Work_Notes.md.orig
resources/public/db/database.db.mv.db
resources/public/db/database.db/
resources/public/img/2019-01-11-Tags-After-Deleting-Wamsutta-Char-by-Char-with-Backspace-600w.png
resources/public/img/2019-01-11-Tags-After-Deleting-Wamsutta-Char-by-Char-with-Backspace.png
resources/public/img/2019-01-11-Tags-After-Reloading-Page-600w.png
resources/public/img/2019-01-11-Tags-After-Reloading-Page.png
resources/public/img/2019-01-11-Tags-Before-Delete-Ops-400w.png
resources/public/img/2019-01-11-Tags-Before-Delete-Ops-600w.png
resources/public/img/2019-01-11-Tags-Before-Delete-Ops.png
resources/public/img/2019-01-22-Tags-After-Clicking-Wamsutta-Delete-Button-600w.png
resources/public/img/2019-01-22-Tags-After-Clicking-Wamsutta-Delete-Button.png
resources/public/img/2019-04-19-Outliner-Demo-Shot-Editing.png
resources/public/img/2019_02_23_Tree_Top_After_Editing_and_Pressing_Return.png
resources/public/img/2019_02_23_Tree_Top_After_Load.png
resources/public/img/2020_01_05_Clown_Screenshot.jpg
resources/public/img/outliner-howto-states-1.gif
resources/public/img/outliner-howto-states-2.gif
resources/public/js/compiled/
src/cljc/
test/clj/cwiki/test/layout/
test/data/db/
