/*
** A flexbox layout derived from a codepen by Anthony Lukes at:
** https://codepen.io/anthonyLukes/pen/DLBeE
** and Philip Walton's "Solved by Flexbox" Sticky Footer code at:
** https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
**
** The intent with this layout is to have a page layout that remains
** constant except for the content in the middle. It contains an
** horizontal menu, header, content area, and footer. The "difficult"
** part was putting the footer at the bottom of the window when there
** is little content and the bottom of the content when there is lots,
** all without knowing or estimating the height of the footer.
**
** The other thing I wanted were left and right-justified parts in the
** footer.
*/

* {
    margin: 0;
    padding: 0;
}

/* Some typography */
h1, h2, h3, h4, h5, h6 {
    background-color: transparent;
    color: dimgray;
    font-family: "Segoe UI", "Lucida Grande", Tahoma, Verdana, Helvetica,
    Arial, sans-serif;
    margin-top: 1.25em;
    margin-bottom: 0.8em;
    line-height: 1.25em;
}

h1 {
    font-size: 2em;
    padding-bottom: 0.3em;
}

h2 {
    font-size: 1.5em;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 0.3em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.875em;
}

h6 {
    font-size: 0.85em;
}

body {
    padding: 0.15em;
    font-family: "Segoe UI", Candara, "Helvetica Neue", "Lucida Grande",
    Tahoma, Verdana, Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #111111;
    background-color: #fafafa;
    font-size: 1em;
    line-height: 1.5em;
    margin: 0; /*gets rid of white space around body*/
    position: relative; /*REQUIRED Sets up positioning for your footer*/
}

/* All of the visible content is held within a page div. */

.page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* The pieces of the page header. */

.header {
    margin: 0;
    padding: 0 0.5em;
    flex: 0 0 auto;
    background-color: dimgray;
}

.header-wrapper {
    margin: 0;
    padding: 1em 0.5em 0;
    line-height: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Some color */
/*.brand-box {
    background-color: #505e9f;
    padding: 4px;
}*/

.brand-title {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 0.8em;
    color: #cfe7ed;
    margin: 0;
    padding-bottom: 0;
    /*padding-bottom: 0.6em;*/
}

.brand-sub-title {
    font-size: 0.8em;
    color: #cfe7ed;
    padding-top: 0.8em;
}

.brand-sub-title > a:link {
    color: #a0e0ff;
    font-weight: bold;
}

.brand-sub-title > a:visited {
    color: #cfe7ed;
}

.brand-sub-title > a:hover:active:focus {
    text-decoration: underline;
}

.hmenu {
    margin: 0;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: dimgray;
}

.menu-item {
    font-size: 0.8em;
    font-weight: bold;
    margin: 0;
    padding: 0 0.5em;
    color: #cfe7ed;
}

/* The sidebar and article is itself a flexbox, but also an element
inside another flexbox. */
.sidebar-and-article {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
}

.left-aside {
    padding: 1.5em;
    flex: 0 0 10em;
}

.left-aside h6 {
    font-size: 0.8em;
    border-bottom: 1px solid #cccccc;
}

.left-aside p {
    font-size: 0.85em;
    line-height: 1.4em;
}

.left-aside li {
    font-size: 0.8em;
    list-style-type: none;
    margin-left: 0.5em;
    line-height: 1.4em;
}

.left-aside li:last-child {
    padding-bottom: 0.5em;
}

.left-aside li:first-child {
    margin-top: -0.4em;
}

.page-content {
    padding: 0.5em 0.5em 0.5em 1.5em;
    max-width: 70ch;
    flex: 1 1 auto;
    border-left: 1px solid #dddddd;
}

/* content and centered content are used for 404, edit, and create
pages at the moment.
 */

textarea#content {
    width: 70ch;
    height: 30em;
}

.content {
    padding: 0.5em;
    flex: 1 1 auto;
    position: relative; /* need this to position inner content */
    overflow-y: auto;
}

.centered-content {
    padding: 0.5em;
    max-width: 70ch;
    margin-left: auto; /* center content horizontally */
    margin-right: auto;
    flex: 1 1 auto;
    position: relative; /* need this to position inner content */
    overflow-y: auto;
}

.centered-content a:link, .content a:link {
    color: #a0e0ff;
}

.centered-content a:visited, .content a:visited {
    color: #5689a9;
}

.centered-content a:hover:active:focus, .content a:hover:active:focus {
    color: #a0e0ff;
    text-decoration: underline;
}

/* The page title and meta info at the top of the page content. */
.page-title-div {
    padding-bottom: 1.2em;
}

.page-title-header {
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.author-line {
    text-align: left;
    margin-bottom: 0;
    font-size: 0.8em;
    padding-bottom: 0;
}

.author-header {
    font-weight: bold;
}

.date-line {
    text-align: left;
    margin-bottom: 0;
    font-size: 0.8em;
}

.date-header {
    font-weight: bold;
}

.date-text {
}

/* Tables */

table {
    font-size: 0.85em;
    color: #333333;
    border: 1px #999999;
    border-collapse: collapse;
    margin-bottom: 1em;
}

th {
    background-color: #cfe7ed;
    padding: 8px;
    border: 1px solid #a9c6c9;
}

tbody tr:nth-child(odd) {
    background-color: #fafafa;
}

tr {
    background-color: #f6f8fa;
}

td {
    padding: 8px;
    border: 1px solid #a9c6c9;
}

tr:hover td
{
    background: #fcffc6;
}

/* The footer. */

.footer {
    margin: 0;
    padding: 0;
    flex: 0 0 auto;
    font-size: 0.825em;
    color: lightgrey;
    background-color: dimgray;
}

.footer-wrapper {
    margin: 0;
    padding: 1em 0.5em 0;
    line-height: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Settings for the edit/create pages. */
.button-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* background: red;*/
    /* margin:2em;*/
    margin-top: 2em;
}

.button-bar-item {
    flex: 1 0 auto;
    /* padding-left: 0.5em;
     padding-right: 0.5em;*/
    margin-right: 0.5em;
    background: green;
}

/* Some miscellaneous, simple elements. */

p {
    margin-bottom: 1em;
}

br {
    display: none
}

blockquote {
    border-left: 4px solid #dddddd;
    padding: 0 15px;
    color: #777777;
}

blockquote > :first-child {
    margin-top: 0;
}

blockquote > :last-child {
    margin-bottom: 0;
}

hr {
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #cccccc;
}

li {
    margin-left: 2em;
}

li:last-child {
    padding-bottom: 1em;
}

li:first-child {
    margin-top: -0.8em;
}

/* Some link styling. */
a {
    color: #5580ff;
    text-decoration: none;
}

a:hover {
    color: #5580ff;
    text-decoration: underline;
}

a:visited {
    /*    color: #cfe7ed;*/
    color: #5580ff;
    text-decoration: none;
}

a:active {
    color: #5580ff;
    text-decoration: underline;
}

a:focus {
    color: #5580ff;
    text-decoration: underline;
}

.menu-item a {
    color: #a0e0ff;
}

/* pre and code blocks */
pre, code {
    background-color: #eee;
    font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
    margin-bottom: 10px;
    margin-left: 2em;
    overflow: auto;
    padding: 5px 5px 20px
}

code {
    background-color: rgba(0, 0, 0, 0.05);
    font-size: 100%;
    margin: 0;
    padding: .2em 0
}

del code {
    text-decoration: inherit
}

pre > code {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    padding: 0;
    white-space: pre
}

.highlight {
    margin-bottom: 16px
}

pre {
    margin-bottom: 0
}

.highlight pre, pre {
    background-color: #f6f8fa;
    font-size: 85%;
    line-height: 1.45;
    overflow: auto;
    padding: 16px
}

pre code {
    background-color: transparent;
    border: 0;
    display: inline;
    line-height: inherit;
    margin: 0;
    overflow: visible;
    padding: 0
}

/* Styles for displaying the content of a map. */
.mp-list {
    list-style: none;
}

.mp-key-list {
    list-style: none;
}

.mp-key-list-item {
    list-style: none;
    padding: 0 0.5em 0 0;
    text-align: right;
}

.mp-val-list {
    list-style: none;
}

.mp-val-list-item {
    padding: 0;
    text-align: left;
}

.mp-val-list-item:before {
    content: '\2014 \0000a0 \0000a0';
}

.map-pair {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Fiddling with buttons. */

/* CSSTidy 1.5.5: Wed, 01 Nov 2017 10:30:49 -0400 */
.button, .topcoat-button, .topcoat-button--quiet, .topcoat-button--large, .topcoat-button--large--quiet, .topcoat-button--cta, .topcoat-button--large--cta, .topcoat-button-bar__button, .topcoat-button-bar__button--large {
    position: relative;
    display: inline-block;
    vertical-align: top;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-clip: padding-box;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    background: transparent;
    border: none;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none
}

.button--quiet {
    background: transparent;
    border: 1px solid transparent;
    box-shadow: none
}

.button--disabled, .topcoat-button:disabled, .topcoat-button--quiet:disabled, .topcoat-button--large:disabled, .topcoat-button--large--quiet:disabled, .topcoat-button--cta:disabled, .topcoat-button--large--cta:disabled, .topcoat-button-bar__button:disabled, .topcoat-button-bar__button--large:disabled {
    opacity: .3;
    cursor: default;
    pointer-events: none
}

.topcoat-button, .topcoat-button--quiet, .topcoat-button--large, .topcoat-button--large--quiet, .topcoat-button--cta, .topcoat-button--large--cta, .topcoat-button-bar__button, .topcoat-button-bar__button--large {
    padding: 0 .563rem;
    font-size: 12px;
    line-height: 1.313rem;
    letter-spacing: 0;
    color: #454545;
    text-shadow: 0 1px #fff;
    vertical-align: top;
    background-color: #e5e9e8;
    box-shadow: inset 0 1px #fff;
    border: 1px solid #9daca9;
    border-radius: 4px
}

.topcoat-button:hover, .topcoat-button--quiet:hover, .topcoat-button--large:hover, .topcoat-button--large--quiet:hover, .topcoat-button-bar__button:hover, .topcoat-button-bar__button--large:hover {
    background-color: #eff1f1
}

.topcoat-button:focus, .topcoat-button--quiet:focus, .topcoat-button--quiet:hover:focus, .topcoat-button--large:focus, .topcoat-button--large--quiet:focus, .topcoat-button--large--quiet:hover:focus, .topcoat-button--cta:focus, .topcoat-button--large--cta:focus, .topcoat-button-bar__button:focus, .topcoat-button-bar__button--large:focus {
    border: 1px solid #0036ff;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.36), 0 0 0 2px #6fb5f1;
    outline: 0
}

.topcoat-button:active, .topcoat-button--large:active, .topcoat-button-bar__button:active, .topcoat-button-bar__button--large:active, :checked + .topcoat-button-bar__button {
    border: 1px solid #9daca9;
    background-color: #d2d6d6;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.1)
}

.topcoat-button--quiet {
    background: transparent;
    border: 1px solid transparent;
    box-shadow: none
}

.topcoat-button--quiet:hover, .topcoat-button--large--quiet:hover {
    text-shadow: 0 1px #fff;
    border: 1px solid #9daca9;
    box-shadow: inset 0 1px #fff
}

.topcoat-button--quiet:active, .topcoat-button--quiet:focus:active, .topcoat-button--large--quiet:active, .topcoat-button--large--quiet:focus:active {
    color: #454545;
    text-shadow: 0 1px #fff;
    background-color: #d2d6d6;
    border: 1px solid #9daca9;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.1)
}

.topcoat-button--large, .topcoat-button--large--quiet, .topcoat-button-bar__button--large {
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.688rem;
    padding: 0 .875rem
}

.button, .topcoat-button, .topcoat-button--quiet, .topcoat-button--large, .topcoat-button--large--quiet, .topcoat-button--cta, .topcoat-button--large--cta {
    position: relative;
    display: inline-block;
    vertical-align: top;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-clip: padding-box;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    background: transparent;
    border: none;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none
}

.button--disabled, .topcoat-button:disabled, .topcoat-button--quiet:disabled, .topcoat-button--large:disabled, .topcoat-button--large--quiet:disabled, .topcoat-button--cta:disabled, .topcoat-button--large--cta:disabled {
    opacity: .3;
    cursor: default;
    pointer-events: none
}

.topcoat-button, .topcoat-button--quiet, .topcoat-button--large, .topcoat-button--large--quiet, .topcoat-button--cta, .topcoat-button--large--cta {
    padding: 0 .563rem;
    font-size: 12px;
    line-height: 1.313rem;
    letter-spacing: 0;
    color: #454545;
    text-shadow: 0 1px #fff;
    vertical-align: top;
    background-color: #e5e9e8;
    box-shadow: inset 0 1px #fff;
    border: 1px solid #9daca9;
    border-radius: 4px
}

.topcoat-button:hover, .topcoat-button--quiet:hover, .topcoat-button--large:hover, .topcoat-button--large--quiet:hover {
    background-color: #eff1f1
}

.topcoat-button:focus,
.topcoat-button--quiet:focus,
.topcoat-button--quiet:hover:focus,
.topcoat-button--large:focus,
.topcoat-button--large--quiet:focus,
.topcoat-button--large--quiet:hover:focus,
.topcoat-button--cta:focus,
.topcoat-button--large--cta:focus {
    border: 1px solid #0036ff;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.36), 0 0 0 2px #6fb5f1;
    outline: 0
}

.topcoat-button:active,
.topcoat-button--large:active {
    border: 1px solid #9daca9;
    background-color: #d2d6d6;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.1)
}

.topcoat-button--large,
.topcoat-button--large--quiet {
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.688rem;
    padding: 0 .875rem;
    margin-right: 0.5em
}

