/*
** A flexbox layout derived from a codepen by Anthony Lukes at:
** https://codepen.io/anthonyLukes/pen/DLBeE
** and Philip Walton's "Solved by Flexbox" Sticky Footer code at:
** https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
**
** The intent with this layout is to have a page layout that remains
** constant except for the content in the middle. It contains an
** horizontal menu, header, content area, and sidebar.
*/

/*
   Loading the MathJax fonts if they are stored on the server.

@font-face {
    font-family: "STIX2Text";
url("/public/fonts/STIX2Text-Regular.woff2") format("woff2"),
url("/public/fonts/STIX2Text-Italic.woff2") format("woff2"),
url("/public/fonts/STIX2Text-Bold.woff2") format("woff2"),
url("/public/fonts/STIX2Text-BoldItalic.woff2") format("woff2"),
}

@font-face {
    font-family: "STIX2Math";
url("/public/fonts/STIX2Math.woff2") format("woff2"),
}
*/

/*
** I'm using Muli for headlines since it is the closest thing I can find to
** Century Gothic, which is very nice but rather expensive. Since Muli is
** only used for headlines, we only need bold and bold-italic.
*/

/* latin-ext */
@font-face
{
    font-family: 'Muli';
    font-style: italic;
    font-weight: 700;
    src: local('Muli Bold Italic'), local('Muli-BoldItalic'), url(https://fonts.gstatic.com/s/muli/v11/7Au9p_0qiz-afTf-lCfGw2QIElsO02Ex.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face
{
    font-family: 'Muli';
    font-style: italic;
    font-weight: 700;
    src: local('Muli Bold Italic'), local('Muli-BoldItalic'), url(https://fonts.gstatic.com/s/muli/v11/7Au9p_0qiz-afTf-lCfGzWQIElsO0w.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face
{
    font-family: 'Muli';
    font-style: normal;
    font-weight: 700;
    src: local('Muli Bold'), local('Muli-Bold'), url(https://fonts.gstatic.com/s/muli/v11/7Au_p_0qiz-adYnjOCv2z24PMFk-0g.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face
{
    font-family: 'Muli';
    font-style: normal;
    font-weight: 700;
    src: local('Muli Bold'), local('Muli-Bold'), url(https://fonts.gstatic.com/s/muli/v11/7Au_p_0qiz-adYnjOCX2z24PMFk.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*
{
    margin: 0;
    padding: 0;
}

html, body
{
    font-size: 15px; /*1em;*/
    height: 100%;
}

:root
{
    /* Some colors. */
    --heading-background-color: transparent;
    --heading-color: #575757;
    --body-background-color: #fcfcfc;
    --body-color: #111111;
    --normal-link-color: #2b24ff;
    /* Color used for Rules, vertical separators, etc. */
    --rule-color: #ccc;
    --active-border-color: #9daca9;
    --page-header-background-color: #575757;
    --brand-title-color: #cfe7ed;
    --brand-sub-title-color: #cfe7ed;
    --brand-link-color: #a0e0ff;
    --brand-link-visited-color: #cfe7ed;
    --hmenu-background-color: #575757;
    --menu-item-color: #cfe7ed;
    --menu-item-subnav-background: #575757;
    --search-text-color: #575757;
    --search-text-box-shadow-color: #fff;
    --search-submit-color: #a0e0ff;
    --search-submit-background-color: #fafafa;
    --search-submit-box-shadow-color: #fff;
    --search-submit-hover-color: #575757;
    --search-submit-hover-background-color: #eff1f1;
    --search-submit-focus-color: #e5ecf4;
    --search-submit-focus-border-color: #0036;
    --search-submit-focus-box-shadow-color: #6fb5f1;
    --search-submit-active-color: #e5ecf4;
    --search-submit-active-background-color: #d2d6d6;
    --search-submit-disabled-color: #e5ecf4;
    --content-link-color: #a0e0ff;
    --content-link-visited-color: #5689a9;
    --content-link-active-color: #a0e0ff;
    --form-title-color: #575757;
    --form-label-color: #575757;
    --form-label-background: transparent;
    --form-button-background-color: #e5e9e8;
    --form-button-box-shadow-color: #fff;
    --form-button-color: #454545;
    --form-button-text-shadow-color: #fff;
    --form-button-hover-color: #eff1f1;
    --form-button-focus-border-color: #0036ff;
    --form-button-focus-box-shadow-color: #6fb5f1;
    --form-button-active-background-color: #d2d6d6;
    --form-button-active-box-shadow-color: rgba(0, 0, 0, 0.1);
    --required-color: red;
    --table-color: #333333;
    --table-border-color: #999999;
    --table-header-background-color: #cfe7ed;
    --table-header-border-color: #a9c6c9;
    --table-body-table-row-nth-odd-color: #fafafa;
    --table-row-background-color: #f6f8fa;
    --table-node-border-color: #a9c6c9;
    --table-row-hover-background-color: #f6f8fa;
    --footer-color: lightgrey;
    --footer-background-color: #575757;
    --blockquote-color: #777777;
    --menu-item-link-color: #a0e0ff;
    /* For in-line code segments of text. */
    --code-background-color: #f0f0f0;
    /* For code blocks and pre-formatted blocks. */
    --code-highlight-color: #f0f0f0;
    /* For the border around code. */
    --code-border-color: #575757;

    /* Fonts. */
    --headline-font-family: "Century Gothic", Muli, "Segoe UI", Arial, sans-serif;
    --body-font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    --fixed-font-family: Consolas, Menlo, Monaco, "Lucida Console",
    "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
    "Courier New", monospace, serif;
    --form-font-family: Calibri, "Segoe UI", Candara, "Helvetica Neue",
    "Lucida Grande", Tahoma, Verdana, Helvetica, Arial, sans-serif;
    --tag-font-family: Calibri, "Segoe UI", Candara, "Helvetica Neue",
    "Lucida Grande", Tahoma, Verdana, Helvetica, Arial, sans-serif;

    /* Some sizes and spacings. */
    --content-max-width: 70ch;
    --tag-field-right-margin: 0.2rem;
    --form-component-max-width: calc(0.3*var(--content-max-width));
    --tag-field-width: calc((var(--content-max-width)
    - (4*var(--tag-field-right-margin)))/5);
}

/* Some typography */
h1, h2, h3, h4, h5, h6
{
    background-color: var(--heading-background-color);
    color: var(--heading-color);
    font-family: var(--headline-font-family);
    margin-top: 1.25rem;
    margin-bottom: 0.8rem;
    line-height: 1.3rem;
}

h1
{
    font-size: 2.2rem;
    padding-bottom: 0.4rem;
    line-height: 2.5rem;
}

h2
{
    font-size: 1.728rem;
    border-bottom: var(--rule-color);
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    line-height: 2rem;
}

h3
{
    font-size: 1.44rem;
    line-height: 1.6rem;
}

h4
{
    font-size: 1.2rem;
}

h5
{
    font-size: 0.875rem;
}

h6
{
    font-size: 0.85rem;
}

small
{
    font-size: 0.833rem;
}

body
{
    padding: 0.15rem;
    font-family: var(--body-font-family);
    font-weight: normal;
    color: var(--body-color);
    background-color: var(--body-background-color);
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin: 0;
    position: relative;
}

/* All of the visible content is held within a page div. */

.page
{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* The pieces of the page header. */

.page-header
{
    margin: 0;
    padding: 0 1em;
    flex: 0 0 auto;
    background-color: var(--page-header-background-color);
}

.header-wrapper
{
    margin: 0;
    padding: 0.5em 0 0;
    line-height: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-header-wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.brand-title
{
    font-size: 1.5em;
    font-weight: bold;
    line-height: 0.8em;
    color: var(--brand-title-color);
    margin: 0;
    padding-bottom: 0;
}

.brand-sub-title
{
    font-size: 0.8em;
    color: var(--brand-sub-title-color);
    padding-top: 0.8em;
}

.brand-sub-title > a:link
{
    color: var(--brand-link-color);
    font-weight: bold;
}

.brand-sub-title > a:visited
{
    color: var(--brand-link-visited-color);
}

.brand-sub-title > a:hover:active:focus
{
    text-decoration: underline;
}

.hmenu
{
    margin: 0;
    padding: 1.5em 0 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: var(--hmenu-background-color);
}

.menu-item
{
    font-size: 0.8em;
    font-weight: bold;
    margin: 0;
    padding: 0 0.5em;
    color: var(--menu-item-color);
}

/* Styles for the "More" dropdown. */

.menu-item ul
{
    list-style: none;
    padding: 0;
    margin-left: -2em;
}

.menu-item > ul > li
{
    display: inline-block;
    position: relative;
}

.menu-item a
{
}

.menu-item > ul > li.subNav ul
{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    white-space: nowrap;
    background: var(--menu-item-subnav-background);
}

.menu-item ul li.subNav:hover ul
{
    margin-left: -2em;
    display: block;
}

.menu-item ul li.subNav ul li
{
    margin-left: 0;
    padding-left: 2em;
    padding-right: 2em;
    line-height: 1.7em;
}

/* Styles for the search box. */

.search-container
{
    margin-top: -0.8rem;
    margin-left: 2rem;
}

div.search-container input[type=text] {
    width: 100%;
}

#search-text
{
    font-size: 0.9rem;
    color: var(--search-text-color);
    border: 1px solid var(--active-border-color);
    border-radius: 4px;
    box-shadow: inset 0 1px var(--search-text-box-shadow-color);
    box-sizing: border-box;
    padding: 3px;
}

#search-submit
{
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--search-submit-color);
    background-color: var(--search-submit-background-color);
    border: 1px solid var(--active-border-color);
    border-radius: 4px;
    box-shadow: inset 0 1px var(--search-submit-box-shadow-color);
    box-sizing: border-box;
    padding: 3px;
    margin-left: 3px;
}

#search-submit:hover
{
    color: var(--search-submit-hover-color);
    background-color: var(--search-submit-hover-background-color);
}

#search-submit:focus
{
    color: var(--search-submit-focus-color);
    border: 1px solid var(--active-border-color);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.36), 0 0 0 2px var(--search-submit-focus-box-shadow-color);
    outline: 0;
}

#search-submit:active
{
    color: var(--search-submit-active-color);
    border: 1px solid var(--active-border-color);
    background-color: var(--search-submit-active-background-color);
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.1);
}

#search-submit:disabled
{
    color: var(--search-submit-disabled-color);
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
}

/* The sidebar and article is itself a flexbox, but also an element
inside another flexbox. */
.sidebar-and-article
{
    flex-basis: auto;

    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: auto;
}

.left-aside
{
    padding: 1.5em;
    flex: 0 0 10em;
    overflow: auto;
}

.left-aside h6
{
    font-size: 0.8em;
    border-bottom: 1px solid var(--rule-color);
}

.left-aside p
{
    font-size: 0.85em;
    line-height: 1.4em;
}

.left-aside li
{
    font-size: 0.8em;
    list-style-type: none;
    margin-left: 0.5em;
    line-height: 1.4em;
}

.left-aside li:last-child
{
    padding-bottom: 0.5em;
}

.left-aside li:first-child
{
    margin-top: -0.4em;
}

.page-content
{
    padding: 0.5em 0.5em 0.5em 1.5em;
    max-width: var(--content-max-width);
    border-left: 1px solid var(--rule-color);
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

/* The page title and meta info at the top of the page content. */
.page-title-div
{
    padding-bottom: 1.2rem;
}

.page-title-header
{
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 0;
}

.author-line
{
    text-align: left;
    margin-bottom: -0.3rem;
    font-size: 0.95rem;
    padding-bottom: 0;
}

.author-header
{
    font-weight: bold;
}

.date-line
{
    text-align: left;
    margin-bottom: 0;
    /*-0.3rem;*/
    font-size: 0.95rem;
}

.date-header
{
    font-weight: bold;
}

.date-text
{
}

.tag-line
{
    text-align: left;
    margin-bottom: -0.3rem;
    font-size: 0.95rem;
}

.tag-header
{
    font-weight: bold;
}

.tag-text
{
}

/* Container for horizontal button bars. */

.button-bar-container
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 2em;
}

.button-bar-item
{
    margin-right: 0.5em;
}

input#new-tag-button
{
    /* For placing svg images on buttons. */
    /*//http://paulabrown.net/search-button-png-210.png);*/
    /*height: 89px; /*//* height of image*/
    /*max-height: 89px;*/
    /*   width: 24px; /*//* width of image*/
    /* max-width: 89px;*/
    width: 29%;
    padding: 0;
    border: none;
    /*// get rid of grey border*/
    color: transparent;
    /*// hide the text (without indenting it to hell)*/
    background: transparent url(/public/img/shrunken-a9c6c9-add-circular-button.svg) no-repeat;
    outline: none;
    display: block;
    /*// Ensure block element to apply this to inline-elements*/;
}

/* Forms */

.form-title
{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--form-title-color);
    margin-top: 1rem;
}

.form-group
{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.form-label, .tag-edit-label
{
    background-color: var(--form-label-background);
    color: var(--form-label-color);
    margin-top: 2rem;
    font-size: 1.1rem;
    font-weight: bold;
}

.form-label-div
{
}

.form-title-field
{
    width: var(--content-max-width);
    font-size: 1rem;
    padding-top: 0.2rem;
    padding-left: 0.1rem;
    padding-bottom: 0.3rem;
}

.form-text-field, .form-email-field
{
    width: var(--form-component-max-width);
    font-size: 1rem;
    padding-top: 0.2rem;
    padding-left: 0.1rem;
    padding-bottom: 0.3rem;
}

.long-form-text-field
{
    width: var(--content-max-width);
    font-size: 1rem;
    padding-top: 0.2rem;
    padding-left: 0.1rem;
    padding-bottom: 0.3rem;
}

.tag-text-field
{
    font-size: 0.8rem;
    padding-top: 0.1rem;
    padding-left: 0.1rem;
    padding-bottom: 0.1rem;
    width: var(--tag-field-width);
    margin-right: var(--tag-field-right-margin);
    margin-bottom: 0.3rem;
}

.tag-edit-tag-list
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.form-text-area
{
    font-size: 1rem;
    padding: 0.2rem 0.1rem 0.3rem;
    flex: 1;
}

.form-dropdown
{
    width: var(--form-component-max-width);
    font-size: 1rem;
    background-color: transparent;
    padding-top: 0.2rem;
    padding-bottom: 0.3rem;
}

.form-dropdown select
{
}

.form-dropdown option
{
    font-size: 1rem;
}

.form-password-field
{
    width: var(--form-component-max-width);
    font-size: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.3rem;
}

/*
  Special cases for the "file" input element.
 */

label.cabinet
{
    width: 79px;
    height: 22px;
    background: url(/public/img/shrunken-a9c6c9-search.svg) 0 0 no-repeat;
    display: block;
    overflow: hidden;
    cursor: pointer;
}

label.cabinet input.file
{
    font-size: 16px;
    position: relative;
    height: 100%;
    width: auto;
    opacity: 0;
    -moz-opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

/*
  This button is derived from the topcoat-button--large from the
  topcoat css collection at topcoat.io.
 */
.form-button
{
    background-color: var(--form-button-background-color);
    border: 1ps solid var(--active-border-color);
    border-radius: 4px;
    box-shadow: inset 0 1px var(--form-button-box-shadow-color);
    box-sizing: border-box;
    color: var(--form-button-color);
    cursor: default;
    display: inline-block;
    font: inherit;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.688rem;
    overflow: hidden;
    padding: 0 .875rem;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    text-shadow: 0 1px var(--form-button-text-shadow-color);
    vertical-align: center;
    text-align: center;
    white-space: nowrap;
}

.form-button:hover
{
    background-color: var(--form-button-hover-color);
}

.form-button:focus
{
    border: 1px solid var(--active-border-color);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.36), 0 0 0 2px var(--form-button-focus-box-shadow-color);
    outline: 0;
}

.form-button:active
{
    border: 1px solid var(--active-border-color);
    background-color: var(--form-button-active-background-color);
    box-shadow: inset 0 1px var(--form-button-active-box-shadow-color);
}

.form-button:disabled
{
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
}

.form-restrictions
{
    width: 30%;
    font-size: 0.75rem;
    line-height: 1.0rem;
}

.hint-field
{
    padding-top: 1.0rem;
    font-size: 0.95rem;
    line-height: 1.2rem;
    width: var(--content-max-width);
}

.required-field-hint
{
    font-size: 0.95rem;
}

.required:after, .required-field-hint:after
{
    content: " *";
    color: var(--required-color);
}

/* Tables */

table
{
    font-size: 0.85em;
    color: var(--table-color);
    border: 1px solid var(--table-border-color);
    border-collapse: collapse;
    margin-bottom: 1em;
}

thead
{
    border: 1px solid var(--table-header-border-color);
}

th
{
    background-color: var(--table-header-background-color);
    padding: 8px;
    border: 1px solid var(--table-header-border-color);
}

tbody tr:nth-child(odd)
{
    background-color: var(--table-body-table-row-nth-odd-color);
}

tr
{
    background-color: var(--table-row-background-color);
}

td
{
    padding: 8px;
    border: 1px solid var(--table-node-border-color);
}

tr:hover td
{
    background: var(--table-row-hover-background-color);
}

/* The footer. */

/*
.footer
{
    margin: 0;
    padding: 0;
    flex: 0 0 auto;
    font-size: 0.825em;
    color: var(--footer-color);
    background-color: var(--footer-background-color);
}

.footer-wrapper
{
    margin: 0;
    padding: 1em 0.5em 0;
    line-height: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
*/

/* Block quote-related selectors. */

blockquote
{
    font-size: 1.2rem;
    line-height: 1.5em;
    border-left: 3px solid var(--rule-color);
    padding: 0 0 0 2rem;
    margin-left: 3rem;
    margin-bottom: 1.4rem;
}

blockquote p
{
    width: 80%;
}

blockquote footer
{
    width: 65%;
    padding-left: 10%;
    font-size: 1.0rem;
    text-align: right;
}

/* Some miscellaneous, simple elements. */

p
{
    margin-bottom: 1em;
}

hr
{
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid var(--rule-color);
}

li
{
    margin-left: 2em;
}

li:last-child
{
    padding-bottom: 1em;
}

li:first-child
{
}

/* Some link styling. */

a:link
{
    color: var(--normal-link-color);
    text-decoration: none;
}

a:focus
{
    color: var(--normal-link-color);
    text-decoration: underline;
}

a:visited
{
    color: var(--normal-link-color);
    text-decoration: none;
}

a:hover
{
    color: var(--normal-link-color);
    text-decoration: underline;
}

a:active
{
    color: var(--normal-link-color);
    text-decoration: underline;
}

/* Mark external links with the Wikipedia icon for such. */
a[href ^= 'http']:not([href *= 'yourdomain.'])
{
    background: transparent url(../img/external_link.svg) no-repeat center right;
    padding-right: 16px;
}

/* Smart quotes for those fonts where it is available. */
q
{
    quotes: "“" "”";
}

.menu-item a
{
    color: var(--menu-item-link-color);
}

/* Styles for pre-formatted blocks and code blocks. The order is important. */

/* Both pre-formatted and code blocks get this treatment. This
   sets up in-line code that is contained in another body of
   text. */
pre, code
{
    border-radius: 5px;
    border: 1px solid var(--code-border-color); /*#BCBEC0;*/
    background-color: var(--code-background-color);
    font-family: var(--fixed-font-family);
    font-size: 85%;
    margin: 0;
    padding: .2em;
    overflow: scroll;
}

/* Style code blocks that have a pre-formatted ancestor.  This
   sets up code listings. */
pre code
{
    border: 0;
    background: transparent;
    font-size: 100%;
    overflow: scroll;
    padding: 0;
}

/* This sets up pre-formatted blocks that are not code listings. */

pre
{
    background-color: var(--code-highlight-color);
    font-size: 85%;
    line-height: 1.4rem;
    overflow: scroll;
    margin-bottom: 1.8rem;
}

/* Styles for building a two-column list page. */

div.two-column-list
{
    max-width: var(--content-max-width);
    columns: 2;
    column-gap: 2em;
    column-rule: 1px solid var(--rule-color);
}

div.two-column-list li
{
    display: inline-block;
    margin-left: 0;
    width: 34ch;
}

div.one-column-list
{
    max-width: var(--content-max-width);
}

div.one-column-list li
{
    display: inline-block;
    margin-left: 0;
    width: 50ch;
}

/* Styles for displaying the content of a map. */
.mp-list
{
    list-style: none;
}

.mp-key-list
{
    list-style: none;
}

.mp-key-list-item
{
    list-style: none;
    padding: 0 0.5em 0 0;
    text-align: right;
}

.mp-val-list
{
    list-style: none;
}

.mp-val-list-item
{
    padding: 0;
    text-align: left;
}

.mp-val-list-item:before
{
    content: '\2014 \0000a0 \0000a0';
}

.map-pair
{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*
** Styles for elements in the mde editor. In the styles used in program,
** ids are used to find things. Classes are used to style things. As such,
** there are no ids referenced here.
 */

.editor-container
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.editor-form
{
    flex: 1;
    display: flex;
    flex-direction: column;
}

/*
** The mde container is a column with the toolbar, if present, across the
** top and the editor and preview in a row below it.
 */
.mde-container {
    /* make this container fill all remaining space in it's (flexbox) parent. */
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    /* Also makes the embedded textarea use full available height. */
    height: 100%
    /* border: 1px solid #e0e0e0;*/
}

/* The editor and preview pane are set up in a row. */
.mde-editor-and-preview-container {
    /* Make this container fill all remaining space in it's parent. */
    flex: 1;
    display: flex;
    flex-direction: row;
    height: 100%;
}

/*
** The toolbar, if present, takes up all of the width across the top
** of the editor and preview pane.
 */

/*
.mde-toolbar-class {
    !* Put the child buttons in a row. *!
    display: flex;
    flex-direction: row;
    padding: 5px;
    border-bottom: 1px solid #e0e0e0;
}

.mde-toolbar-button {
    font-size: 0.9em;
    background-color: transparent;
    min-width: 20px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

.mde-toolbar-button:hover {
    background-color: #333333;
    color: white;
}

.mde-toolbar-button:active {
    background-color: #f0f0f0;
    color: #000;
}

.mde-toolbar-button-selected {
    background-color: #e0e0e0;
}
*/

.mde-title-edit-section {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.mde-form-title-field {
    width: 98%;
    font-size: 0.9rem;
    padding-top: 0.2rem;
    padding-left: 0.1rem;
    padding-bottom: 0.3rem;
}


/*
** The editor uses the default font for text areas.
 */
.mde-editor-class {
    flex: 1;
    display: flex;
    font-size: 1.3rem;
    line-height: 1.8rem;
    border: none;
    outline: none;
    overflow-y: scroll;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
}

/*
** Take away the blue border around the editor when it is being
** typed in.
 */
.mde-editor-class:focus {
    outline: none;
    border: none;
}

.mde-preview-class {
    flex: 1;
    font-size: 1.3rem;
    line-height: 1.8rem;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    overflow-y: scroll;
}

/*
** Tag area styling.
 */

.mde-tag-edit-list {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: -0.1rem 0 0 -0.1rem;
}

.mde-tag-text-field {
    font-size: 0.8rem;
    padding-top: 0.2rem;
    padding-left: 0.1rem;
    padding-bottom: 0.1rem;
    margin: 0.1rem 0 0 0.1rem;
    width: calc(100% * (1/5) - 0.1rem - 6px);
}

/*
** Some misc. tweaks.
 */

.mde-content-label-div {
    margin-top: 0.75rem;
}

